.contact_wrapper {
  background-color: #000;
  width: 100%;
}

.contact_wrapper h2 {
  color: white;
  font-size: 70px;
  margin: 20px auto;
  text-align: center;
}

.contact_content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 100px 180px 100px 180px;
}

.icon1 {
  margin: 10px 0;
}

.row {
  display: flex;
  height: 65px;
  align-items: center;
}

.info {
  margin-left: 30px;
}

.row i {
  font-size: 25px;
  color: crimson;
}

.head {
  font-weight: 800;
  color: white;
}

.sub_tittle {
  color: white;
}

.contact_wrapper .right form .fields {
  display: flex;
}

.contact_wrapper .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact_wrapper .right form .field input,
.contact_wrapper .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  padding: 9px 15px;
  font-size: 17px;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  border: 1px solid rgba(255, 255, 255, 0.6); /* Semi-transparent border */
  color: white; /* Text color */
  outline: none;
  transition: background 0.3s ease, border 0.3s ease;
}


.contact_wrapper .right form .field input::placeholder,
.contact_wrapper .right form .textarea textarea::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Semi-transparent placeholder text */
}

.right form #field1 {
  margin-left: 20px;
}

.right form .textarea {
  height: 80px;
}

.button button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  margin-top: 20px;
  border-radius: 30px;
  transition: transform 0.4s;
}

.button button:hover {
  transform: scale(1.2);
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}


.errorText {
  color: red;
  font-size: 0.9rem;
  line-height: 1.2;
}


@media (max-width: 784px) {
  .contact_content {
    flex-direction: column;
    margin: 50px 40px;
  }
}

@media (max-width: 480px) {
  .contact_wrapper {
    padding: 20px 10px;
  }

  .contact_wrapper h2 {
    font-size: 1.5em;
  }

  .contact_content {
    margin: 20px 10px;
  }

  .contact_wrapper .right form .field input,
  .contact_wrapper .right form .textarea textarea {
    font-size: 15px;
    padding: 7px;
  }

  .right form .fields {
    flex-direction: column;
  }

  .right form #field1 {
    margin-left: 0;
  }

  .button button {
    padding: 8px 15px;
    font-size: 14px;
  }
}
